* {
    font-family:monospace;
    box-sizing:border-box;
    outline:none;
}

body {
    margin:0;
    overflow:hidden;
    width:100vw;
    height:100vh;
}

#root {
    width:100%;
    height:100%;
}

#app {
    width:100%;
    height:100%;
}

h1 {
    font-size:3rem;
}