// Color Palette
$primary-color-dark:   #616161;
$primary-color:        #9E9E9E;
$primary-color-light:  #F5F5F5;
$primary-color-text:   #212121;
$accent-color:         #607D8B;
$primary-text-color:   #212121;
$secondary-text-color: #757575;
$divider-color:        #BDBDBD;

* {
    font-family: 'Roboto', sans-serif;
    box-sizing:border-box;
    outline:none;
    color:$primary-text-color;
}

body {
    margin:0;
    overflow:hidden;
    width:100vw;
    height:100vh;
    background-color:$primary-text-color;
}

#root {
    width:100%;
    height:100%;
}

.login-signup {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:60vmin;
    height:80vmin;
    background-color:$primary-color;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    box-shadow:0 0 10px rgba(0,0,0,0.5);
    border-radius:10px;
    padding:1rem;

    // &::before {
    //     content:'';
    //     position:absolute;
    //     top:0;
    //     left:0;
    //     width:100%;
    //     height:50%;
    //     background-color:$primary-color;
    //     border-radius:10px;
    //     z-index:-1;
    // }
}

@media (orientation:portrait) {
    .login-signup {
        width:80vmin;
        height:95vmin;
    }
}

.login-signup-dialog {
    flex-grow:1;
    width:100%;
    height:100%;
    margin-top:30px;
}

.login-signup-form {
    width:100%;
    display:flex;
}

.login-signup-form-container {
    flex-grow:1;
    text-align: center;
    position:relative;
}

.login-signup-form-label {
    width:100%;
    font-size:1.4rem;
    
    user-select: none;

    &:hover {
        cursor:pointer;
    }
}

.login-signup-form-input {
    all:unset;
    &:hover {
        cursor:pointer;
    }

    &::before {
        content:"";
        width:100%;
        height:5px;
        position:absolute;
        left:0;
        bottom:-8px;
        transition: background-color 125ms;
    }

    &:checked {
        &::before {
            content:"";
            width:100%;
            height:5px;
            background-color: $accent-color;
            position:absolute;
            left:0;
            bottom:-8px;
            transition: background-color 125ms;
        }
    }
}

.form {
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.form-input {
    width:100%;
    height:3rem;
    border:none;
    border-bottom:1px solid $divider-color;
    font-size:1.4rem;
    padding:0.5rem;
    margin-bottom:1rem;
    outline:none;
    background-color:$primary-color-light;
    color:$primary-text-color;
    transition: background-color 125ms;

    &:focus {
        background-color:$primary-color;
        color:$primary-text-color;
    }
}

.form-label {
    width:100%;
    font-size:1.4rem;
    margin-bottom:1rem;
    user-select: none;
}

.form-button {
    width:fit-content;
    height:3rem;
    border:none;
    border-radius:5px;
    font-size:1.4rem;
    padding:0.5rem;
    margin-bottom:1rem;
    outline:none;
    background-color:$primary-color;
    color:$primary-text-color;
    transition: background-color 125ms;

    border:solid $accent-color 2px;

    padding-left:3rem;
    padding-right:3rem;

    &:hover {
        background-color:$primary-color-dark;
        cursor: pointer;
    }
}