* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    outline: none;
}

body {
    margin: 0;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    background-color: grey;
}

#root {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#title {
    font-size: 8rem;
    color: white;
    font-weight: bold;
    text-shadow: 0 0 1rem black;

    & a {
        color: white;
        text-decoration: none;

        &:hover {
            color: white;
        }
    }
}