$background: #333;

@mixin mobile {
    @media (max-width: 750px) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: 1024px) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: 1025px) {
        @content;
    }
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-track {
    background: $background;
}

::-webkit-scrollbar-thumb {
    background: lighten($background, 10);
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: lighten($background, 15);
}

::-webkit-scrollbar-thumb:active {
    background: lighten($background, 20);
}

* {
    // font-family: sans-serif;
    box-sizing: border-box;
    outline: none !important;

    &:focus {
        outline: none !important;
    }
}

body.no-scroll {
    height: 100vh;
    overflow: hidden;

    #root {
        height: 100%;
    }
}

nav > div {
    width: 100%;
}
